# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
*.db
db.sqlite3
media/
staticfiles/
.env

# Virtual env
env/
venv/
ENV/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/
